
* {
   background-color: black;
   /*background-color: bg-dark;*/
   color: white;
}


.contenedor {
	background: black;
	width:100%;
	max-width:1200px;
	margin:auto;

	/* Flexbox */
	display:flex;
	/* flex-flow: <flex-direction> <flex-wrap>; */
	flex-flow:row wrap;
}

.contenedorSign {
	background: black;
	
	max-width:1200px;
	margin:auto;
	padding: 16px;
	
}


.main {
	background:black;
	padding:20px;

	flex:1 1 100%;
    display:flex;
	/* flex-flow: <flex-direction> <flex-wrap>; */
	flex-flow:row wrap;
    
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	padding-inline: 10px;
	border-bottom:1px solid #000;
    display:flex;
	/* flex-flow: <flex-direction> <flex-wrap>; */
	flex-flow:row wrap;
}



header {
	background:black;
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo img {
	width:100px;
	vertical-align: top;
}


header nav {
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background:#e74c3c;
}

footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
	margin-bottom: 20px;
	max-width:1200px;

	position: absolute;
	bottom: 0;bottom: 0;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	/* Pongo en cada extremo */
	justify-content:space-between;
}

form {
	border: 3px solid #f1f1f1;
  }

  
input[type=text], input[type=password] {
	width: 100%;
	max-width:1200px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }

  
button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }


/* Agrega un efecto al boton */
button:hover {
	opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  

/* The "Forgot password" text */
span.psw {
	float: right;
	padding-top: 16px;
  }

@media screen and (max-width: 640px) {
	header nav {
		width:100%;
	}
	.cancelbtn {
		width: 100%;
	 }				
	span.psw {
		display: block;
		float: none;

	}
	textarea {  width: 30em; 
	}

button {
    padding: 14px 10px;
	margin: 8px 0;
	width: 50%;
  }

	}

@media screen and (min-width: 640px) and (max-width: 1280px) {
	.contenedor { background: black;
	}
	textarea {  width: 50em; 
	}
	
}
@media screen and (min-width: 1280px) {
	.contenedor { background: black;
				}
}